body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("https://images.unsplash.com/photo-1646083712950-921c706dde86?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2064&q=80");
    background-color: #fff;
    color: #fff;
}

.jumbotron {
    background-color: #0026ff;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Bootstrap Overrides */
.navbar-inverse {
    background-color: #0026ff ;
    border-color: #080808;
    padding-right:20px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

a {
    color: #f5f5f5;
    text-decoration: none;
}

 .container {
    width: 100%;
}

.title{
    font-size: 60px;
    text-align: center;
    padding-top: 20%;  
}

h1, .h1 {
    font-size: 100px;
}

.about{
    text-align:center;
    font-size: 30px;
    
}

.form-group {
    margin-bottom: 80px;
}

body {
    font-size: 20px;
}

.form-control {
    font-size: 17px;
    padding: 5px 15px;
    border-radius: 9px;
}

.form-control:focus{
    border-color: #080808;
}

.btn {
    font-size: 20px;
    padding: 7px 20px;
    border-radius: 9px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0026ff;
    color: #fff;
    text-align: center;
}

.navbar-brand{
    font-weight: 700;
}

   
