@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>PayTracker is a Web-based Application used to track pay, work types, and customers. Primarily used for sales or service oriented workplaces.</p>
<hr>
<p>
    <ul><h3>Tables:</h3>
        <li>Jobs - Each job or appointment you go to, will have a customer and work type selection</li>
        <li>Work Types - Create a type of work type (examples: Quote, Installation, Service, Maintanence.)</li>
        <li>Customers - Organize customers, only with names</li>
    </ul>
<hr>
    <ul><h3>GitHub Link:</h3>

        <li>https://github.com/jonahzorniger/PayTracker.git</li>
    </ul>

<hr>
    <ul><h3>Using the application</h3>
        <li>Application runs on any url (example: Chrome, Microsoft Edge, Firefox)</li>
    </ul>
</p>
