@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>PayTracker is a Web-based Application used to track pay, work types, and customers. Primarily used for sales or service oriented workplaces.</p>
