@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    No address provided
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">fakeemail@gmail.com</a><br />
    <strong>Phone:</strong> <a href="mailto:Marketing@example.com">444-222-5555</a>
</address>