@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PayTracker</h1>
    <p class="lead">PayTracker is a Web based Application used to track a variety of different jobs and pay.</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>
            Customers is where you can store each customer you worked for just in case you do multiple jobs for them.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44300/Customer">View &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Work Types</h2>
        <p>Work Types is where you will save the types of work you do. Examples: Appointment, Service, Maintenance, Installation, etc.</p>
        <p><a class="btn btn-default" href="https://localhost:44300/WorkType">View &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Jobs</h2>
        <p>Jobs is where you can store each job you work at. Stores the description, Sold Amount, and Earnings on job.</p>
        <p><a class="btn btn-default" href="https://localhost:44300/Job">View &raquo;</a></p>
    </div>
</div>